:root {
  --primery: #6f2609;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(#fff);
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 7%;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid var(--primery);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .nav-logo {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  font-style: italic;
}

.navbar .nav-logo span {
  color: var(--primery);
}

.navbar .navbar-nav a {
  color: #fff;
  margin: 0 1rem;
  font-size: 1.4;
  display: inline-block;
}

.navbar .navbar-nav a:hover {
  color: var(--primery);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid var(--primery);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-ex a {
  color: #fff;
  margin: 0 0.5rem;
}

#hamburger {
  display: none;
}

/* hero section */
.hero {
  min-height: 100vh;
  background-image: url(../img/camp.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  display: block;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8% rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  max-width: 60rem;
  padding: 1.7rem 7%;
}
.hero .content h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}
.hero .content p {
  color: #fff;
  line-height: 1.3;
  margin-top: 1rem;
  font-weight: 200;
}
.hero .content .booking {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  color: #fff;
  background-color: var(--primery);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgba(1, 1, 1, 3);
}

/* about */
.about,
.menu,
.contact {
  padding: 7rem 7% 1rem;
  color: #fff;
}

.about h2,
.menu h2,
.contact h2 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 3rem;
}

.about span,
.menu span,
.contact span {
  color: var(--primery);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content-about {
  padding: 0 1rem;
  flex: 1 1 35rem;
}

.about .row .content-about h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content-about p {
  font-weight: 200;
  margin-bottom: 0.8rem;
  line-height: 1.4;
  font-size: 1.6;
}

/* menu section */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p,
.contact p {
  max-width: 30rem;
  font-weight: 200;
  line-height: 1.5;
  margin: auto;
  text-align: center;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 2rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* kontak */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45%;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-grup {
  align-items: center;
  display: flex;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
  margin-top: 2rem;
}

.contact .row form .input-grup input {
  width: 100%;
  padding: 2rem;
  color: #fff;
  font-size: 1.7;
  background: none;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  background-color: var(--primery);
  cursor: pointer;
}

/* footer */
footer {
  background-color: var(--primery);
  padding: 1rem 0;
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

footer .sosial {
  padding: 1rem 0;
}

footer .sosial a {
  color: #fff;
  margin: 1rem;
}

footer .sosial a:hover,
footer .link a:hover {
  color: var(--bg);
}

footer .link {
  margin-bottom: 1rem;
}

footer .link a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit p {
  color: #fff;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* media query */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}
/* tablet */
@media (max-width: 810px) {
  html {
    font-size: 63%;
  }
  #hamburger {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    right: -100%;
    top: 100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.3rem;
    padding: 0.3rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero .content p {
    font-weight: 300;
  }

  /* about */
  .about .row {
    flex-wrap: wrap;
  }

  .about .row .content-about p {
    font-weight: 300;
  }

  /* menu */
  .menu p {
    font-size: 1.6;
  }

  .menu p,
  .contact p {
    font-weight: 300;
  }

  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0%;
  }
}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
